body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav a {
  background-color: lightgrey;
}
figure {
  align-self: center;
}
h1 {
  align-self: center;
}
section#details {
  background-color: red;
  text-align: center;
}
